*
{
    margin: 0px; /*margen plantilla */
    padding: 0px; /* area relleno plantilla */
}

/* MARCOS - POSICIONAMIENTO */
HTML, body {
    height: 100%;
    border: 5px solid rgb(199, 116, 224);
}

/* UBICACION - POSICIONAMIENTO */

.hijo1 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.hijo2 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.hijo3 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.padre1, .hijo1, .hijo2, .hijo3 {
    border: 20px solid rgb(67, 35, 22);/* color de borde*/
    border-radius: 10px; /* reondea esquinas borde*/
    display: inline-block; /* clases ubicacion horizontal*/

}

.padre1 {
    display: flex;
    border: 20px solid #c889c2; /* Color de Borde */
    border-radius: 10px; /* Redondea esquinas borde */
    background-color: #f7cffe;
    height: px; /* Altura - Vertical */ 
    width: px; /* Anchura - Horizontal */
    margin-top: 20px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 20px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
    padding: 20px;

}

.hijo4 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.hijo5 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.hijo6 {
    border: 20px solid salmon;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: blueviolet; /* Color de Fondo */
    margin-top: 10px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 10px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
}

.padre2, .hijo4, .hijo5, .hijo6 {
    border: 20px solid rgb(1, 21, 29);/* color de borde*/
    border-radius: 10px; /* reondea esquinas borde*/
    display: inline-block; /* clases ubicacion horizontal*/

}

.padre2 {
    display: flex;
    border: 20px solid #c889c2; /* Color de Borde */
    border-radius: 10px; /* Redondea esquinas borde */
    background-color: #f5e2fa;
    height: px; /* Altura - Vertical */ 
    width: px; /* Anchura - Horizontal */
    margin-top: 20px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 20px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: 0px; /* Desplazamiento Horizontal */
    top: 0px; /* Desplazamiento Vertical */
    padding: 20px;

}
.abuelo {
    display: flex;
    flex-direction: row; /* Ubica los elementos uno debajo del otro. */
    border: 20px solid #af0f9f; /* Color de Borde */
    border-radius: 10px; /* Redondea esquinas borde */
    background-color: #3f140d;
    height: px; /* Altura - Vertical */
    width: px; /* Anchura - Horizontal */
    margin-top: 20px; /* Margen Bajar o Subir */
    margin-left: 10px; /* Margen Izquierda */
    margin-right: 10px; /* Margen Derecha */
    margin-bottom: 20px; /* Bajar Elementos Debajo */
    position: relative; /* Activar Posicionamiento de Coordenadas */
    float: left; /* Posicionar Izquierda o Derecha */
    left: px; /* Desplazamiento Horizontal */
    top: px; /* Desplazamiento Vertical */
    padding: 10px; /* Área Relleno Abuelo */
}
